// Taken from boostrap sources and thus may be subject of change in future.
@brand-danger: #d9534f;
@brand-warning: #f0ad4e;
@brand-info: #5bc0de;

@font-size-base: 14px;
@line-height-base: 1.428571429;
// 20/14
@line-height-computed: floor(@font-size-base * @line-height-base);
// ~20px

body {
  padding-top: 50px;
//  background-image: url("#{resource['/img/hoffman.png']}")
}

.container {
//  box-shadow: 0 0 20px black;
//  background: rgba(255, 255, 255, 80%);
}

#content {
  margin-top: 20px;
}


ul.messages {
  .message-box(@base-color) {
    color: saturate(@base-color, 10%);
    background: tint(@base-color, 70%);
    border-left: solid 8px @base-color;
  }
  li.has-error {
    .message-box(@brand-danger)
  }
  li.has-warning {
    .message-box(@brand-warning)
  }
  li {
    text-indent: 0.5em;
    padding: 0.5em;
    margin-bottom: 1px
  }
  // the same as "list-unstyled" bootstrap class
  padding-left: 0;
  list-style: none;
}

// Poll view page
#chart {
  canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#votingForm {
  label {
    display: inline;
  }
}